div.outer_container {
    display: table-cell;
    width: 75%;
    height: 50%;
}

div.inner_container {
    display: table-cell;
    vertical-alignment: middle;
}

p {
    text-align: centre;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
